:root {
    --color-primary-light: #FFFFFF;

    --color-brand-dark: #011C44;
    --color-brand-light: #2B7FFF;

    --color-secondary-light:#747272;
    --color-secondary-dark: #4A4A4A;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;