.footer {
    position: relative;
    background-color: var(--color-brand-dark);
    padding: 32px 0;

    @media screen and (min-width: $bp-tablet) {
        padding: 56px 0;
        font-size: 16px;
    }

    &::before {
        content: '';
        position: absolute;
        background-image: url(../../images/footer-decor.png);
        background-repeat: no-repeat;
        width: 247px;
        height: 152px;
        bottom: 0;
        right: 0;
    }

    &__container {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            gap: 32px;
        }
    }

    &__nav,
    &__address {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            align-items: flex-start;
            gap: 32px;
            text-align: left;
            flex-basis: 50%;
        }
    }

    &__logo,
    &__menu,
    &__address-contacts,
    &__address-info {
        flex-basis: 50%;
    }

    &__logo {
        margin-bottom: 42px;
    }

    &__nav-link {
        color: var(--color-primary-light);
        text-decoration: none;
        transition: color .3s;

        &:hover {
            color: var(--color-brand-light);
        }
    }

    &__list-item {
        margin-bottom: 16px;
    }

    &__address-link {
        text-decoration: none;
        color: var(--color-primary-light);
        font-size: 14px;

        @media screen and (min-width: $bp-tablet) {
            font-size: 16px;
        }
    }

    &__copyright {
        color: var(--color-secondary-light);
        font-size: 12px;
    }
}