.hero-section {
    padding: 72px 0;
    background-image: linear-gradient(92deg, 
    #fff 31%, rgba(255, 255, 255, 0.85) 42%, 
    rgba(255, 255, 255, 0.19) 60%, 
    rgba(255, 255, 255, 0) 75%),
    url('../images/hero-section-background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media screen and (min-width: $bp-tablet) {
        padding: 124px 0 108px 124px;
    }

    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), 
    (min-resolution: 2dppx) {
        background-image: linear-gradient(92deg, 
        #fff 31%, rgba(255, 255, 255, 0.85) 42%, 
        rgba(255, 255, 255, 0.19) 60%, 
        rgba(255, 255, 255, 0) 75%),
        url('../images/hero-section-background@2x.jpg');
    }

    &__container {
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            max-width: 532px;
            text-align: left;
        }
    }

    &__subtitle {
        font-size: 12px;
        margin-top: 24px;
        margin-bottom: 0;

        @media screen and (min-width: $bp-tablet) {
            font-size: 18px;
            margin-top: 16px;
        }
    }

    &__title {
        color: var(--color-brand-light);
        font-weight: bold;
        font-size: 54px;
        line-height: 1.2;
        margin-bottom: 32px;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            font-size: 140px;
            margin-bottom: 40px;
            text-align: left;
        }
    }

    &__button-container {
        max-width: 242px;
        margin: 0 auto;

        @media screen and (min-width: $bp-tablet) {
            text-align: center;
            margin: 0;
        }
    }

    &__button {
        margin: 0 auto 8px;
        transition: background-color .3s, color .3s;

        &:hover {
            color: var(--color-brand-dark);
        }

        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 16px;
        }
    }

    &__text {
        font-size: 11px;

        @media screen and (min-width: $bp-tablet) {
            font-size: 12px;
        }
    }
}